body {

  text-align: center;
  background-color: black;
}

main {
  margin: 50px;
}


.board {
  /*background: black;*/
  width: 700px;
  height: 700px;
  margin: 0 auto;

}
.button {
  color: rgb(51, 204, 51);
  background-color: black;
  font-family: joystix;
  font-size: 20px;
  width: 270px;
  height: 50px;
  border-width: thick;
  border-color: rgb(51, 204, 51);
  animation: myframes 1s ease-in-out 0s alternate infinite;
}

@keyframes myframes {

  from {color: rgb(51, 204, 51);}
    to {color: yellow;}
}


#timer {
  font-family: joystix;
  color:rgb(51, 204, 51);
  font-size:20px;
  height: 40px;

}

#scoredisplay {
  font-family: joystix;
  color:rgb(51, 204, 51);
  font-size:30px;
  margin: 10px;

}
#scoreboard {
  font-family: joystix;
  color:rgb(51, 204, 51);
  font-size:20px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  border: 5px;
  outline-width: thick;
  outline-color: rgb(51, 204, 51);
  padding: 0;
  box-sizing: border-box;
}

li {
  border: 1px solid black;
  display: inline-block;
  margin: 0;
  /*border: 0;*/
  padding: 0;
  box-sizing: border-box;
  background-image: url("images/riddler.jpg");
  background-position: center;
  background-size: 120px 120px;
  width: 140px;
  height: 140px;


  font-size: 100px;
  text-align: center;
  line-height: 140px; }

.mole {
  background-image: url("images/riddlerface.jpg");
  background-position: center;
  background-size: 120px 120px;
  cursor: url('images/batman.png'), auto;
}
