body {

  text-align: center;
  background-color: black;


}

main {
  margin: 50px;
}


#intro {
  width: 600px;
  height: 1000px;

  margin: 0 auto;
  /*background: no-repeat center center;
  background-image:url(yourimage.jpg);
  background-position:center;*/

}

.typewriter {
  color: rgb(51, 204, 51);
  font-family: joystix;
  padding: 150px;

}




}

h1 {
   color: rgb(51, 204, 51);

}

.batlogo {
  position: relative;
  padding: 60px;

}

.finalScoreDisplay {
  color: rgb(140, 140, 140);
  font-size: 30px;
  font-family: joystix;
  position: absolute;
  top: 175px;
  left: 20px;
  width: 100%;

}

/*intro screen styling*/
#easy {
  color: rgb(51, 204, 51);
  background-color: black;
  font-family: joystix;
  font-size: 20px;
  width: 270px;
  height: 50px;
  text-decoration: none;
  animation: myframes 1s ease-in-out 0s alternate infinite;
  border: 4px solid rgb(51, 204, 51);
  padding: 8px;
  display: inline;
  margin: 2px;


}

#medium {
  color: rgb(51, 204, 51);
  background-color: black;
  font-family: joystix;
  font-size: 20px;
  width: 270px;
  height: 50px;
  text-decoration: none;
  animation: myframes 1s ease-in-out 0s alternate infinite;
  border: 4px solid rgb(51, 204, 51);
  padding: 8px;
  display: inline;
  margin: 2px;

}

#hard {
  color: rgb(51, 204, 51);
  background-color: black;
  font-family: joystix;
  font-size: 20px;
  width: 270px;
  height: 50px;
  text-decoration: none;
  animation: myframes 1s ease-in-out 0s alternate infinite;
  border: 4px solid rgb(51, 204, 51);
  padding: 8px;
  display: inline;
  margin: 2px;

}

#riddled {
  color: rgb(51, 204, 51);
  background-color: black;
  font-family: joystix;
  font-size: 20px;
  direction: rtl;
  unicode-bidi: bidi-override;
  width: 270px;
  height: 50px;
  text-decoration: none;
  animation: myframes 1s ease-in-out 0s alternate infinite;
  border: 4px solid rgb(51, 204, 51);
  padding: 8px;
  display: inline;
  margin: 2px;
}



/*gameBoard styling*/

.board {
  /*background: black;*/
  width: 700px;
  height: 700px;
  margin: 0 auto;

}
.startButton {
  color: rgb(51, 204, 51);
  background-color: black;
  font-family: joystix;
  font-size: 20px;
  width: 270px;
  height: 50px;
  text-decoration: none;
  animation: myframes 1s ease-in-out 0s alternate infinite;
  border: 4px solid rgb(51, 204, 51);
  padding: 8px;
  display: inline;
  margin: 2px;


}
.difficultyButton {
  color: rgb(51, 204, 51);
  background-color: black;
  font-family: joystix;
  font-size: 20px;
  width: 270px;
  height: 50px;
  text-decoration: none;
  animation: myframes 1s ease-in-out 0s alternate infinite;
  border: 4px solid rgb(51, 204, 51);
  padding: 8px;
  display: inline;
  margin: 2px;


}

@keyframes myframes {

  from {color: rgb(51, 204, 51);}
    to {color: rgb(153, 0, 204);}
}


#timer {
  font-family: joystix;
  color:rgb(51, 204, 51);
  font-size:20px;
  height: 40px;

}

#scoredisplay {
  font-family: joystix;
  color:rgb(51, 204, 51);
  font-size:20px;
  margin: 10px;
  padding: 20px;

}
#scoreboard {
  font-family: joystix;
  color:rgb(51, 204, 51);
  font-size:16px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  border: 5px;
  outline-width: thick;
  outline-color: rgb(51, 204, 51);
  padding: 0;
  box-sizing: border-box;

}

li {
  border: 3px solid rgb(51, 204, 51);
  display: inline-block;
  margin: 2px;
  /*border: 0;*/
  padding: 0;
  box-sizing: border-box;
  background-image: url("images/question.jpg");
  background-position: center;
  background-size: 200px 200px;
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  font-size: 100px;
  text-align: center;
  line-height: 140px;
}

li:after {
  content: "";
  position: absolute;
  top:140px ;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("images/jimriddler.jpeg");
  background-position: center;
  background-size: 180px 150px;
  cursor: url('images/batlogo.jpg'), auto;
  transition: all 0.2s ease;
}

li.mole:after {
  top: 0;
}

li.bomb:after {
  top: 0;
}

.bat {
  background-image: url("images/pow.png");
  background-size: 160px;
}
.bomb:after {
  background-image: url("images/riddlerbomb.jpg")
}


/*responsive*/

@media only screen and (max-width: 767px) {


  #medium {
    font-size: 25px;
    display: block;
    width: 270px;
    height: 30px;
    margin: 10px;
    right: auto;
    left: auto;
    transform: translate(-50%, -50%);


}

 #easy {
   font-size: 25px;
   display: block;
   width: 270px;
   height: 30px;
   margin: 10px;
   right: auto;
   left: 100
   transform: translate(-50%, -50%);


 }

 #hard {
   font-size: 25px;
   display: block;
   width: 270px;
   height: 30px;
   margin: 10px;
   right: auto;
   left: auto;
   transform: translate(-50%, -50%);


 }

 #riddled {
   font-size: 25px;
   display: block;
   width: 270px;
   height: 30px;
   margin: 10px;
   right: auto;
   left: auto;
   transform: translate(-50%, -50%);



 }

 .typewriter {

   display: inline-block;
   max-width: 400px;
   margin: auto;
   text-align: center;
   width: 270px;

   ul {
     display: block;
     margin: auto;
     max-width: 70px;

   }

   li {
     display: block;
   }

   .startButton {

     font-size: 25px;
     display: block;
     width: 270px;
     height: 30px;
     margin: 10px;

  }

   .difficultyButton {

     font-size: 25px;
     display: block;
     width: 270px;
     height: 30px;
     margin: 10px;

  }

 }
